@each $type, $class in $colors {
	.text-#{$type} {
		color: $class;
		&:hover,
		&:focus,
		&:active {
			color: darken($class, 15%);
		}
	}
	@if ($type == "dark") {
		.text-#{$type} {
			color: $class;

			&:hover,
			&:focus,
			&:active {
				color: lighten($class, 45%);
			}
		}
	}
}