@each $name, $color in $colors {
    .text-#{$name}{
        color : $color;
    }
}

@each $name, $color in $colors {
    .bg-#{$name}{
        background-color : $color;
    }
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

small {
	display: block;
	font-size: 0.25rem;
}